.home{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    align-items: center;
}

.home .part1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    flex-basis: 45%;
}

.part1 h1 {
    font-weight: 900;
    color: #1e1e1e;
    font-size: 2.8rem;
    margin-bottom: 0.7rem;
    line-height: 1.4;
}
.part1 p{
    font-size: 1.1rem;
    line-height: 1.4;
    color: #1e1e1e;
    font-weight: 400;
    margin-right: 2rem;
}

.search-cont{
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0rem;
}

.search-wrapper{
    position: relative;
}

.search{
    position: absolute;
    top: 0;
    bottom: 2.7rem;
    left: 1rem;
    padding-right: 1.6rem;
    transform: rotate(310deg);
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #0d2159;
}

.search-cont input{
    width: 80%;
    height: 44px;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    background-color: #f3f7fe;
    padding: 0rem 0.5rem 0rem 2.6rem;
    border: 1px solid rgb(160, 159, 159);
    margin-bottom: 1.5rem;

}
.search-cont input:focus{
    border-color: rgb(160, 159, 159);
    border-style: solid;
    border-width: 1px;
}

.search-cont button{
    height: 44px;
    border-radius: 0.4rem;
    border-width: 0rem;
    background-color: #3366ff;
    padding: 0rem 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    width: 100px;
}

.home .part2{
    flex-basis: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 5px;
}

.card-header{
    display: flex;
    justify-content: space-between;

}



@media screen and (max-width: 971px) {
    .home{
        display: flex;
        flex-direction: column;
    }

    .part1{
        text-align: start;
        margin-right: 5rem;
        font-weight: 700;
    }
    .part1 h1{
        font-size: 2.3rem;
    }

}


@media screen and (max-width:767px){

    .home .part1{
        flex-basis: 100%;
        margin-right: 4rem;
    }
    .part1 h1{
        font-size: 2.2rem;
    }

    .search-cont input{
        width: 340px;
    }
}

@media screen and (max-width:640px) {
    .home .part2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 5px;
    }
    .search-cont input{
        width: 100%;
    }
    .part1 h1{
        font-size: 2rem;
    }
    .part1 p{
        margin-right: 0rem;
    }
}

@media screen and (max-width:500px) {
    .search-cont input{
        width: 100%;
    }
    .home .part1{
        margin-right: 0rem;
    }
    .part1 h1{
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .home .part2 {
        display: none;
    }
    .home .part1{
        margin: 4rem 0rem;
    }
}

